.card {
  width: 100%;
  background-color: transparent;
  padding-left: 2%;
  padding-right: 2%;
}

.card .card-image img {
  border-radius: 50%;
}

.card-badges {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 12px 0;
}

.card-badges li {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 3px;
  margin-right: 10px;
}

.card-details {
  display: flex;
  flex-direction:column;
}

.card-details li{
  display: flex;
  flex-direction: row;
}

.home, .profile, .education, .experience, .technology, .connect {
  align-items: center;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
  margin-left: 160px;
  text-align: center;
}

.experience, .education {
  background-color: #77A076;
}

.gray-header {
  background-color:#c5c3c3;
  width: 100%;
}

.green-header {
  background-color:#5ba15a;
  width: 100%;
}

.nav-item {
  margin-left: 0%;
  padding-top: 5px;
}

.profile {
  background-color:#039BE5;
  height: 100%;
  color: aliceblue;
}

.profile-header {
  background-color:#058BCE;
  margin-bottom: 5px;
  width: 100%;
}

.profile-picture {
  border: 5px solid white;
  border-radius: 50%;
  height: 450px;
  width: 450px;
}

.side-nav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#232323;
  overflow-x: hidden;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: 10px 0 3px 1px #232323;
}


.typewriter h2{
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation: 
    typing 3s steps(40, end),
    blink-caret .75s step-end infinite;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

label {
  color:aliceblue;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@media (max-width: 1000px) {
  .card .card-image img {
    display: none;
  }
}

@media (max-width: 900px) {
  .side-nav {
    display: none;
  }
  .home, .profile, .education, .experience, .technology, .connect {
    margin: 0;
    width: max(100vh, 100vh + 209px);
  }
}

@media (max-width: 600px) {
  .profile-picture {
    height: 50%;
    width: 50%;
  }
  h3 {
    font-size: 30px;
  }
}